<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>Sports!</h2>
    <p v-if="sportsList.length === 0">There are no sports to list . . .</p>
    <ul v-else>
      <li v-for="sport in sportsList">
        <p>{{sport.name}}</p>
        <button @click="favoriteSport(sport)">⭐ Favorite</button>
      </li>
    </ul>
    <h2>Favorite sports</h2>
    <ul v-if="favoriteList.length > 0">
      <li v-for="sport in favoriteList">
        <p>{{sport.name}}</p>
      </li>
    </ul>
    <p v-else>No favorite sports list yet . . .</p>
    <h2>New sport</h2>
    <label for="sport-name">Name</label>
    <pre>
      {{ newSport }}
    </pre>
    <input type="text" v-model="newSport.name" @keyup.enter="addNewSport" />
    
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data: () => ({
        newSport: {
          name: ''
        },
        sportsList: [{
          name: 'hockey'
        },{
          name: 'skateboarding'
        },{
          name: 'baseball'
        },{
          name: 'football'
        },{
          name: 'basketball'
        }],
        favoriteList: []
      }),
      methods: {
        favoriteSport(sport) {
          console.log('fav sport')
          this.favoriteList.push(sport)
        },
        addNewSport() {
          console.log('add new sport')
          this.sportsList.push(this.newSport)
          this.newSport = { name: '' }
        }
      }
    }).mount('#app');
  </script>
</body>
</html>