<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playground</title>
</head>
<body>
  <h1>working with vue!!!</h1>
  <div id="app">
    <p v-if="message.length % 2 === 0">Even: {{ message }}</p>
    <p v-else>Odd: {{ message }}</p>
    <ul>
      <li v-for="number in listOfNumbers">{{number}}</li>
    </ul>
    <h2>{{ displayTitle }}</h2>
    <h1>optimized incrememtn amount(computed function): {{ optimizeIncrementAmount }}</h1>
    <p v-bind:data-increment-by="incrementAmount">{{ count }}</p>
    <button v-on:click="incrementCount">increment count</button>
    <div>
      <label for="incrementAmount">Increment by: </label>
      <input type="number" v-model="incrementAmount" />
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;

    const app = createApp({
      data() {
        return {
          message: 'hello it works!',
          count: 0,
          counterTitle: 'Counter title',
          incrementAmount: 1,
          listOfNumbers: [1, 2, 3, 4, 5]
        }
      },
      computed: {
        displayTitle() {
          if(this.count > 20) {
            return 'Counter title is standard!';
          } else {
            return 'Counter title is standard';
          }
        },
        optimizeIncrementAmount() {
          return this.displayTitle.length;
        }
      },
      methods: {
        incrementCount() {
          this.count += this.incrementAmount;
        }
      },
      watch: {
        count(newValue, oldValue) {
          console.log(`new value: ${newValue}`)
          console.log(`old value: ${oldValue}`)
          if(newValue > 20) {
            this.counterTitle = 'Counter title is LONNNNG';
          }
        }
      },
    });

    app.mount('#app')
  </script>
</body>
</html>